.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
java-extension/**
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
images/**
scripts/**

# Ignore output of code sign
lib/*.md