.vscode/**
.vscode-test/**
dist/**/*.map
java-extension/**
src/**
test/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
images/**
scripts/**
.mvn
.github
.gitmodules
.azp

# Ignore output of code sign
lib/*.md

node_modules
out
